.header-logo a img {
  margin-top: 20px;
  width: 114px;
  height: 79px;
  margin-left: 190px;
}
.mx-auto {
  margin-top: -95px;
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  padding-right: 30px;
}

.text-light:hover {
  background-image: url("./images/menu_shape.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  background-image: url("./images/menu_shape.webp");
  width: 95px;
  text-align: center;
  height: 44px;
}
#vijesti {
  width: 100px;
  text-align: center;
  height: 45px;
}

#takmicenja {
  width: 100px;
  text-align: center;
  height: 45px;
}
#igrice {
  width: 100px;
  text-align: center;
  height: 45px;
}
#partneri {
  width: 100px;
  text-align: center;
  height: 45px;
}
#kontakt {
  width: 100px;
  text-align: center;
  height: 45px;
}
#onama {
  width: 100px;
  text-align: center;
  height: 45px;
}
.navbar-toggler-icon {
  margin-left: 350px;
  margin-top: -150px;
  border-color: lightblue;
}

.header-btn {
  background: url("https://sescg.me/assets/img/others/btn-signup.webp");
  background-size: 160px;
  background-repeat: no-repeat;
  font-size: 16px;
  width: 160px;
  height: 62px;
  border: none;
  color: white;
  font-weight: bold;
  float: right;
  margin-top: -82px;
  margin-right: 190px;
  padding-bottom: 7px;
}
/* POTREBNO JE DODATI PROMJENU BG BOJE ONSCROLL */
.default-header {
  position: fixed;
  top: 0;
  width: 1550px;
  z-index: 10;
}

.active-header {
  position: fixed;
  top: 0;
  width: 1550px;
  background: rgba(20, 14, 56, 0.9);
  -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
  box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
