.lista-takmicenja {
  width: 1300px;
  margin: auto;
  margin-top: 50px;
}
.takmicenje {
  height: 280px;
  border: 4px solid #281e4d;
  background: #09002a;
  padding: 32px 65px;
  border-radius: 38px;
  margin-top: 30px;
}
.takmicenje-animation {
  animation-duration: 1.1s;
  animation-delay: 0.1s;
  animation-name: fadeInUp;
}
.takmicenje-1 {
  height: 280px;
  border: 4px solid #fbba6e;
  background: #09002a;
  padding: 32px 65px;
  border-radius: 38px;
  animation-duration: 1.1s;
  animation-delay: 0.1s;
  animation-name: fadeInUp;
  margin-top: 30px;
}
.takmicenje-1 p {
  color: white;
}
.takmicenje-1 a {
  line-height: inherit;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
.takmicenje-1 a:hover {
  color: #b154f0;
}
.takmicenje-1 .location-p {
  color: #b154f0;
}
.takmicenje-2 {
  height: 310px;
  border: 4px solid #281e4d;
  background: #09002a;
  padding: 32px 65px;
  border-radius: 38px;
  animation-duration: 1.1s;
  animation-delay: 0.1s;
  animation-name: fadeInUp;
  margin-top: 30px;
}
.takmicenje-2 p {
  color: white;
  margin-top: -12.5px;
}
.takmicenje-2 a {
  line-height: inherit;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
.takmicenje-2 a:hover {
  color: #b154f0;
}
.takmicenje-2 .location-p {
  margin-top: 5px;
  color: #b154f0;
}
.takmicenje p {
  color: white;
}
.link-prijava a {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
.takmicenje a {
  line-height: inherit;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
.takmicenje a:hover {
  color: #b154f0;
}
.takmicenje .location-p {
  color: #b154f0;
}
.takmicenje i {
  color: white;
  font-style: italic;
}
.takmicenje-a {
  width: 450px;
}
